In [11]:
import pandas as pd

In [12]:
file = 'Resources/AverageFare_Annual_2003.csv'

In [13]:
plane_df = pd.read_csv(file)
plane_df = plane_df.loc[:, ~plane_df.columns.str.contains('^Unnamed')]

In [14]:
plane_df.head(15)

,2021 Passenger Rank,Airport Code,Airport Name,City Name,State Name,Average Fare ($),Inflation Adjusted Average Fare ($) (Base Year: 2022),2021 Passengers (10% sample)
0,1,LAX,Los Angeles International,Los Angeles,CA,338.08,537.84,"981,228"
1,2,ORD,Chicago O'Hare International,Chicago-O'Hare,IL,339.96,540.84,"795,315"
2,3,ATL,Hartsfield-Jackson Atlanta International,Atlanta,GA,304.49,484.41,"768,501"
3,4,DEN,Denver International,Denver,CO,341.96,544.02,"739,773"
4,5,EWR,Newark Liberty International,Newark,NJ,407.35,648.05,"652,199"
5,6,SEA,Seattle/Tacoma International,Seattle,WA,320.81,510.37,"647,461"
6,7,DFW,Dallas/Fort Worth International,Dallas-DFW,TX,393.59,626.15,"631,155"
7,8,PHX,Phoenix Sky Harbor International,Phoenix,AZ,251.06,399.40,"592,829"
8,9,MCO,Orlando International,Orlando,FL,263.16,418.65,"585,781"
9,10,BOS,Logan International,Boston,MA,362.09,576.04,"569,471"
10,11,JFK,John F. Kennedy International,New York-JFK,NY,302.72,481.59,"521,817"
11,12,SFO,San Francisco International,San Francisco,CA,428.67,681.96,"501,601"
12,13,LAS,Harry Reid International,Las Vegas,NV,228.63,363.72,"497,289"
13,14,MSP,Minneapolis-St Paul International,Minneapolis,MN,398.72,634.31,"467,902"
14,15,PHL,Philadelphia International,Philadelphia,PA,378.74,602.53,"437,154"

In [ ]:
file = 'Resources/AverageFare_Annual_2010.csv'

In [ ]:
plane_df = pd.read_csv(file)

In [ ]:
plane_df