cd to Resources folder 
fuel prices:
mongoimport --type csv -d airline_data -c fuel_prices --headerline --drop fuel_prices_since_2000.csv
fare prices:
mongoimport --type csv -d airline_data -c fare_prices --headerline --drop average_daily_fares.csv

import pandas as pd
from pymongo import MongoClient
from pprint import pprint
import datetime

In [82]:
from pymongo import MongoClient
from pprint import pprint
import pandas as pd
import datetime as dt

In [83]:
mongo = MongoClient(port=27017)

In [84]:
pprint(mongo.list_database_names())

['admin',
 'airline_data',
 'classDB',
 'config',
 'fruits_db',
 'gardenDB',
 'local',
 'met',
 'petsitly_marketing',
 'uk_food']

In [85]:
plane_data = mongo['airline_data']

In [86]:
pprint(plane_data.fuel_prices.find_one())

{'': 2,
 '_id': ObjectId('641bf99494cb31d65df2ed77'),
 'date': '2023-03-09',
 'price ($/Gal)': 2.729}

In [87]:
pprint(plane_data.fare_prices.find_one())

{'': 'LAX',
 '0': 352.99,
 '1': 336.82,
 '10': 369.76,
 '11': 394.88,
 '12': 401.84,
 '13': 411.92,
 '14': 422.89,
 '15': 398.62,
 '16': 355.9,
 '17': 352.52,
 '18': 352.79,
 '19': 356.56,
 '2': 342.6,
 '20': 291.59,
 '21': 322.2,
 '3': 338.08,
 '4': 319.71,
 '5': 339.33,
 '6': 360.48,
 '7': 370.01,
 '8': 389.39,
 '9': 343.06,
 '_id': ObjectId('641cab58b77f7bb0ad0f5e31')}

In [88]:
fuel_prices = plane_data['fuel_prices']

In [89]:
fuel_prices_df = pd.DataFrame(list(fuel_prices.find()))
fuel_prices_df.head()

                        _id           date  price ($/Gal)
0  641bf99494cb31d65df2ed77  2  2023-03-09          2.729
1  641bf99494cb31d65df2ed78  5  2023-03-06          2.929
2  641bf99494cb31d65df2ed79  6  2023-03-03          2.987
3  641bf99494cb31d65df2ed7a  7  2023-03-02          2.911
4  641bf99494cb31d65df2ed7b  8  2023-03-01          3.016

In [90]:
fare_prices = plane_data['fare_prices']

In [97]:
fare_prices_df = pd.DataFrame(list(fare_prices.find())) #, columns=[['id',]])
#df.rename(columns={"A": "a", "B": "c"})
fare_prices_df = fare_prices_df.rename(columns={'_id': 'ID', '':'Airport', '0': '2000', '1': '2001', '2':'2002',
                                                '3':'2003', '4':'2004','5':'2005','6':'2006','7':'2007','8':'2008',
                                                '9': '2009', '10': '2010','11': '2011','12': '2012','13':'2013',
                                                '14': '2014','15': '2015', '16': '2016','17': '2017','18': '2018',
                                                '19': '2019','20':'2020','21':'2021'})
fare_prices_df = fare_prices_df.drop('ID', axis=1)
fare_prices_df.head(10)

,Airport,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,LAX,352.99,336.82,342.60,338.08,319.71,339.33,360.48,370.01,389.39,...,401.84,411.92,422.89,398.62,355.90,352.52,352.79,356.56,291.59,322.20
1,SEA,336.56,319.69,311.93,320.81,316.60,328.96,353.61,354.13,353.61,...,382.80,380.51,379.42,367.00,332.40,335.44,337.31,336.51,287.04,308.81
2,DFW,441.85,413.06,386.03,393.59,369.48,368.89,389.36,364.99,406.16,...,430.71,415.66,425.24,383.25,348.99,362.79,383.43,402.57,323.76,319.66
3,PHX,267.64,250.89,248.33,251.06,250.33,269.04,284.35,283.19,305.19,...,331.83,348.40,359.32,349.17,327.14,327.12,338.57,348.77,280.89,292.23
4,MCO,279.28,265.63,267.78,263.16,241.75,240.57,256.71,253.00,260.03,...,278.43,294.75,312.40,291.16,253.87,249.33,249.74,251.75,215.74,220.15
5,BOS,406.26,381.50,355.47,362.09,316.34,315.68,339.13,354.64,391.30,...,371.25,373.46,381.96,377.74,349.34,335.98,328.21,337.73,290.54,329.44
6,EWR,449.52,421.09,399.04,407.35,389.71,385.84,379.69,379.98,428.99,...,477.06,487.50,492.22,472.14,429.75,401.20,403.74,407.21,305.94,313.97
7,ORD,409.26,374.32,338.23,339.96,320.58,313.59,330.82,326.17,361.46,...,385.05,400.51,415.75,359.19,317.98,317.14,338.55,344.89,276.92,284.93
8,DEN,434.58,412.28,366.38,341.96,325.26,340.28,324.20,316.79,325.86,...,320.91,327.21,336.73,326.65,311.95,298.97,302.55,300.48,252.89,271.37
9,ATL,339.23,328.77,305.63,304.49,294.35,312.56,350.75,357.78,351.23,...,365.82,397.86,424.95,390.24,350.96,350.91,360.85,370.49,299.23,303.74

In [92]:
fuel_prices_df['date'] = pd.to_datetime(fuel_prices_df['date'])
fuel_years = fuel_prices_df.groupby(fuel_prices_df['date'].dt.year)['price ($/Gal)'].mean()
fuel_years

date
2000    0.849952
2001    0.724988
2002    0.687064
2003    0.823600
2004    1.151137
2005    1.715598
2006    1.923020
2007    2.130913
2008    2.964447
2009    1.664290
2010    2.149880
2011    2.998512
2012    3.056190
2013    2.920492
2014    2.692702
2015    1.521794
2016    1.251706
2017    1.557940
2018    2.026851
2019    1.878711
2020    1.098829
2021    1.858215
2022    3.374217
2023    3.116542
Name: price ($/Gal), dtype: float64

In [93]:
file = 'Resources/AverageFare_Annual_2003.csv'

In [94]:
plane_df = pd.read_csv(file)
plane_df = plane_df.loc[:, ~plane_df.columns.str.contains('^Unnamed')]

In [95]:
plane_df.head()

,2021 Passenger Rank,Airport Code,Airport Name,City Name,State Name,Average Fare ($),Inflation Adjusted Average Fare ($) (Base Year: 2022),2021 Passengers (10% sample)
0,1,LAX,Los Angeles International,Los Angeles,CA,338.08,537.84,"981,228"
1,2,ORD,Chicago O'Hare International,Chicago-O'Hare,IL,339.96,540.84,"795,315"
2,3,ATL,Hartsfield-Jackson Atlanta International,Atlanta,GA,304.49,484.41,"768,501"
3,4,DEN,Denver International,Denver,CO,341.96,544.02,"739,773"
4,5,EWR,Newark Liberty International,Newark,NJ,407.35,648.05,"652,199"

In [ ]:
file = 'Resources/AverageFare_Annual_2010.csv'

In [ ]:
plane_df = pd.read_csv(file)

In [ ]:
plane_df